<h1>To the Greatest Mom / Mimi in the World!</h1>

<p>
	Since mail is so sketchy, I decided not to mail anything, and since I couldn't find any e-cards I liked,
	I decided to build you a Happy Mother's Day Website / Card!  Fitting for a programmer son, right?
</p>

<img src="/img/home.jpg">
<br />
<div class="well">
	<p>
		Dear Mom,
	</p>
	<p>
		Happy Mother's Day, Mom! I just want you to know that you are so loved by all three of us 
		in this chilean branch of the hadzariga family and we can't wait to get back to the states
		to hang out more.  Noah's going to be stoked to be penguining around Mimi's kitchen making 
		a mess, and watching Dido burn around on the lawn mower.  I think I'm pretty stoked for that
		too =).
		</p>	
		<p>
		I love you tons mom, you are an amazing woman and I am so blessed to have you as a mom.  You're
		so good at bringing joy and fun to any situation, you love people so much, and I'm so thankful
		for you.  I hope you have an amazing mother's day, I wish I could be there.
		</p>
		- Love Naterator
		<br />
		XOXOXOX
	</p>
</div>
