<h1>Pics Page</h1>

<div class="well"><h2>Group Pics</h2></div>
<img src="/img/everyone1.jpg" />
<img src="/img/everyone2.jpg" />
<div class="well"><h2>With Great Grandma</h2></div>
<img src="/img/grandma1.JPG" />
<img src="/img/grandma2.JPG" />
<img src="/img/grandma3.JPG" />
<div class="well"><h2>With Auntie and Uncle</h2></div>
<img src="/img/damara.JPG" />
<div class="well"><h2>Just Noah</h2></div>
<img src="/img/noah2.JPG" />
<img src="/img/noah.JPG" />
<img src="/img/noah-tub.JPG" />


