// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#nates {
  background-color: pink;
}

div#nates-brand {
  color: pink;
}

.nates-nav {
  color: pink;
}
